@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .active {
        @apply border-b-[1.5px];
        @apply border-biru;
    }

    .searchbar {
        width: 100%;

        @media screen and (min-width: 1024px) {
            width: 42px;
        }

        @media screen and (min-width: 1210px) {
            width: 297px;
        }
    }
}